/* Font links */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,200;1,300;1,500;1,600&display=swap');

/* reset*/
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(249, 247, 247);
}

main {
  margin: auto;
  max-width: 1200px;

}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

/*Header beggin*/

.header {
  background: #9f0000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 8%;
  flex-wrap: nowrap
}

.geral-nav {
  padding: 0, 15px;
}

#search-box {
  position: relative;
  display: flex;
}

#searchImput {
  padding: 3px;
  margin: auto;
}


#page-name {
  font-size: 16px;
  color: white;
  padding: 0 25px;
  font-weight: 600;
  text-decoration: none;
}

/*Nav itens*/
.iten-nav {
  font-size: 16px;
  color: white;
  padding: 0 25px;
  font-weight: 600;
  text-decoration: none;
}


.iten-nav:hover {
  color: rgb(252, 255, 162);
  text-decoration: none;
  padding: 0 25px;
}

/*geral Buttons*/


button {
  font-size: 16px;
  font-weight: 600;
  background-color: #fab400;
  border-radius: 5px;
  padding: 0px 15px;
}

button:hover {
  font-weight: 600;
  background-color: #f8cd6a;
}

/*Posters sections*/

.geral-title {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between;
  color: #212529;


}

.geral-title h1 {
  font-size: 60px;
  margin-bottom: 15px;

}

.geral-title p {
  font-size: 16px;
  font-weight: 500;

}

.filter {
  align-self: flex-end;

}


.filter label {
  font-weight: 700;

}

.adverts {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
  flex-wrap: wrap;


}


.job-poster {
  padding: 8px;
  margin: 5px;
  background-image: url('img/fundinnn.png');
  background-size: cover;
  border-radius: 8%;
  box-shadow: -8px 12px 20px #8b8d8f;
  transition: all .4s ease-in-out;
}

.job-poster:hover {
  transform: scale(1.1);
}

.job-poster h2 {
  font-weight: 600;
  font-size: 20px;
}

.job-poster p {
  font-size: 16px;
  text-align: center;
}

.job-posters ol {
  font-size: 16px;
}

/* Footer */

footer {
  background-color: rgb(32, 42, 37);
  padding: 30px;
  text-align: center;
  color: white;
}


/* Form login page */

.forms {
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  margin: 50px auto;
  flex-direction: row;
  width: 40vw;
  height: content;
  border-radius: 2%;
  padding: 20px;
  justify-items: left;

}

fieldset {
  padding: 0;
}


fieldset h3 {
  font-weight: 600;
  color: #6e6f71;
  margin-bottom: 10px;
}

fieldset label {
  font-weight: 550;
  font-size: 15px;
}

fieldset p {
  font-size: 15px;
  margin-bottom: 8px;
  color: #6e6f71;
}

fieldset .buttons {
  text-align: center;
}

.form-button {
  color: white;
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.login-form input,
select {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
  border: solid;
  border-style: ridge;
  border-color: #eeeeee;
}